{% extends "base.html" %}

{% block title %} Sign In {% endblock %}

{% block head %}
    <style>
        .container {
            margin-top: 50px;
            max-width: 600px;
            background: #ffffff;
            padding: 20px;
            border-radius: 0.5rem;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        }
        .btn-outline-success {
            background-color: #003366;
            border-color: #003366;
            color: #ffffff;
            font-weight: bold;
            transition: background-color 0.3s, border-color 0.3s;
        }
        .btn-outline-success:hover {
            background-color: #ffcc00;
            border-color: #ffcc00;
            color: #003366;
        }
        h1 {
            margin-top: 0; /* Remove the top margin */
            color: #003366;
            text-shadow: 1px 1px 2px #ffcc00;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Log In</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="email">Email address</label>
            {{ form.email(class="form-control", id="email", placeholder="Enter email") }}
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            {{ form.password(class="form-control", id="password", placeholder="Password") }}
        </div>
        <button type="submit" class="btn btn-outline-success">Log In</button>
    </form>
    <p class="mt-3">Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
</div>
{% endblock %}
